<div class="flex flex-col w-full">
    <% (@event.start_on..@event.end_on).each do |day| %>
        <%= render(
            'ui/simple_card', 
            content: french_date(day), 
            subcontent: link_to("+", new_event_meal_path(@event, {meal: {scheduled_on: day}}))
        )  %>
        <% @event.meals.where(scheduled_on: day).order(:kind).each do |meal| %>
          <%= render 'ui/deletable_card', model: meal, title: meal.kind, subtitle: nil %>
        <% end %>
    <% end %>
</div>
<%= render 'ui/floating_bottom_right_button', path: new_event_path do %>
    <%= inline_svg_tag 'icons/shopping-cart.svg' %>
<% end %>