<div class="flex flex-col w-full">
    <%= render(
            'ui/simple_card', 
            content: @meal.kind.capitalize + " du " + french_date(@meal.scheduled_on), 
            subcontent: link_to(event_path(@meal.event)){inline_svg_tag 'icons/x.svg'}
        )  
    %>
    <% Course.kinds.keys.each do |kind| %>
       <%= render(
            'ui/simple_card', 
            content: kind.capitalize, 
            subcontent: link_to(new_meal_course_path(@meal, {course: {kind: kind}})){inline_svg_tag 'icons/plus.svg'}
        )  %>
        <% @meal.courses.where(kind: kind).each do |course| %>
          <%= render 'ui/deletable_card', model: course, title: course.name, subtitle: nil %>
        <% end %>
    <% end %>
</div>