<div class="bg-white flex justify-between p-2 w-full">
    <% if @event.persisted? %>  
        <%= link_to "MEALZ", event_path(@event), class: "font-bold text-xl" %>
        <%= render 'ui/dropdown_menu', 
            links: [
                {content: "Voir la liste de course", path:event_shopping_list_path(@event), icon: "shopping-cart"},
                {content: "Gérer les participants", path:event_guests_path(@event), icon: "user"},
                {content: "Modifier les dates", path:"#", icon: "calendar", class: "text-slate-300"},
            ] 
        %>
    <% else %>
        <%= link_to "MEALZ", root_path, class: "font-bold text-xl" %>
    <% end %>
</div>
