<div class="flex flex-col w-full">
    <% @shopping_list.quantities.each do |ingredient_with_quantity| %>
      <%= render(
            'ui/simple_card', 
            content: ingredient_with_quantity.name, 
            subcontent: quantity_with_unit(ingredient_with_quantity)
        )  %>
    <% end %>
</div>
